# Install pyodbc

In [26]:
!pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\users\james\appdata\roaming\python\python311\site-packages (5.2.0)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Importing Libraries

In [1]:
import pyodbc
import pandas as pd

# Database Details

In [ ]:
uid = 
pwd = 
driver = "{SQL Server Native Client 11.0}"
server = "localhost"
database = "AdventureWorks2022;"

In [ ]:
import pyodbc

conn = pyodbc.connect(
    'DRIVER={SQL Server Native Client 11.0};'
    'SERVER=
    'DATABASE=
    'UID=
    'PWD=
)

In [4]:
sql = "SELECT * FROM [AdventureWorks2022].[Production].[ProductCategory]"

# Query the database

In [5]:
df = pd.read_sql_query(sql, conn)
df.head()

C:\Users\James\AppData\Local\Temp\ipykernel_21056\219586576.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,Bikes,CFBDA25C-DF71-47A7-B81B-64EE161AA37C,2008-04-30
1,2,Components,C657828D-D808-4ABA-91A3-AF2CE02300E9,2008-04-30
2,3,Clothing,10A7C342-CA82-48D4-8A38-46A2EB089B74,2008-04-30
3,4,Accessories,2BE3BE36-D9A2-4EEE-B593-ED895D97C2A6,2008-04-30